<p>----------------------------------------------------------------------------------------</p>
<p>以下是模拟定制应用任务卡的入口组件开始(包含这句话，也是在入口组件中)</p>
<div class="me">入口组件，也就是本组件是showdown策略,并且导入zorro样式，本div验证了自身样式是否可以加载，结论是可以的</div>
<button nz-button nzType="primary">入口组件自身button,导入了zorro12的样式</button>
<div class="mydiy">入口组件，也就是本组件mydiy,用于测试主机应用的全局样式是否会污染定制应用，应该没有样式，结论是不污染</div>
<app-children>
  <app-content></app-content>
</app-children>
<p>下图是定制应用的jpg</p>
<img src="assets/imgs/avatar2.jpg" alt="">
<p>模拟定制应用任务卡的入口组件结束(包含这句话，也是在入口组件中)</p>
<p>----------------------------------------------------------------------------------------</p>
