<p>************************************************************************************************</p>
<p>以下是模拟定制应用任务卡的入口组件的子组件开始</p>
<div class="mydiy">定制应用子组件mydiv,用于测试主机应用的全局样式是否会污染定制应用，应该没有样式，结论是不污染</div>
<p class="child">演示子组件自身样式是否生效，本子组件的视图策略是默认策略，应该要有样式的</p>
<button nz-button nzType="primary">子组件的button，没有导入zorro,用的是入口组件的12版本的zorro</button>

<p>演示子组件投影开始</p>
<ng-content></ng-content>
<p>演示子组件投影结束</p>
<p>模拟定制应用任务卡的入口组件的子组件结束</p>
<p>************************************************************************************************</p>
